body{
	background-color: orange;
	padding: 50px;
}

#chao{
	border-bottom: 7px dashed black;
}

.andandoDireita{
	background: url("../ImagemPersonagem/ClyntonAndando.gif");
	width: 256px;
	height: 256px;
	background-repeat: no-repeat;
}
.andandoEsquerda{
	background: url("../ImagemPersonagem/ClyntonAndandoEsquerda.gif");
	width: 256px;
	height: 256px;
	background-repeat: no-repeat;
}

.parado{
	background: url("../ImagemPersonagem/ClyntonParado.gif");
	width: 256px;
	height: 256px;
}

.fonteTitulo{
	font-family: 'Gaegu', cursive;
	font-size: 70px;
	font-weight: bold;
}
.loginForm{
	padding: 10px;
}
form label{
	font-size: 30px;
	font-weight: bold;
}
.progress{
	margin-bottom: 5px;
}
#acoes .row{
	margin-bottom: 5px;
}
#titulo{
	 font-size: 4rem;
}